<div class="">
 <button class="block">Trending Searches</button>
    <div class="absolute mt-2 w-48 bg-yellow-400 rounded-lg py-1 shadow-xl">
    <%@most_searched.each do |search| %>
      <div class="block px-4 py-1 hover:bg-yellow-600 hover:text-white"><%= search[:name] %></div>
    <% end %>
    </div>
    </div>
    <div>